<div class="text-center">
  <form class="form-signin">
    <p class="h4 mb-4 login">Login do Cliente</p>

    <label for="inputEmail" class="sr-only">Email</label>
    <input type="email" name="email" id="inputEmail" placeholder="Informe seu Email"
           class="form-control mb-2" #email="ngModel" email required
           [(ngModel)]="usuario.email"
           [ngClass]="{
              'is-invalid': email.invalid && (email.dirty || email.touched),
              'is-valid': email.valid && (email.dirty || email.touched)
           }" />
    <div class="invalid-feedback text-left" *ngIf="email.invalid && (email.dirty || email.touched)">
      <div *ngIf="email.errors.required"><p>* Campo email é obrigatório</p></div>
      <div *ngIf="email.errors.email"><p>* Email inválido!</p></div>
    </div>

    <label for="inputSenha" class="sr-only">Senha</label>
    <input type="password" name="senha" id="inputSenha" placeholder="Senha"
           class="form-control mb-2" #senha="ngModel" required
           [(ngModel)]="usuario.senha" [ngClass]="{
              'is-invalid': senha.invalid && (senha.dirty || senha.touched),
              'is-valid': senha.valid && (senha.dirty || senha.touched)
           }" />
    <div class="invalid-feedback text-left" *ngIf="senha.invalid && (senha.dirty || senha.touched)">
      <div *ngIf="senha.invalid"><p>* Campo senha é obrigatório</p></div>
    </div>

    <div class="alert alert-danger" *ngIf="mensagem">
      {{ mensagem }}
    </div>

    <!--<button class="btn btn-primary btn-block" type="submit" (click)="login()">Entrar</button>-->
    <button class="btn btn-primary btn-block" type="submit" (click)="login()" [disabled]="_ativarSpinner">
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="_ativarSpinner"></span>
      Entrar
    </button>
    <div>
      Novo usuário? <a [routerLink]='["/cadastro-usuario"]'>Cadastre-se</a>
    </div>

    <img src="../../../assets/img/logo.jpg" />
  </form>
</div>
