<p class="h4 mb-4 titulo">{{ titulo }}</p>

<div class="alert alert-danger col-md-4 mb-3 mensagem" *ngIf="mensagem">
  {{ mensagem }}
</div>

<!--Nome-->
<label for="inputNome" class="sr-only">Nome</label>
<input type="text" id="inputNome" name="nomeProduto" placeholder="Nome do Produto"
       class="form-control col-md-4 mb-2" [(ngModel)]="produto.nome"
       [ngClass]="{
        'is-invalid': nome.invalid && (nome.dirty || nome.touched),
        'is-valid': nome.invalid && (nome.dirty || nome.touched)
       }"
       #nome="ngModel" required />
<div class="invalid-feedback mb-2" *ngIf="nome.invalid && (nome.dirty || nome.touched)">
  <div *ngIf="nome.errors.required">* Nome do Produto é de preenchimento obrigatório</div>
</div>

<!--Descricao-->
<label for="inputDescricao" class="sr-only">Descrição</label>
<textarea id="inputDescricao" name="descricaoProduto" placeholder="Descrição do Produto" rows="3"
       class="form-control col-md-4 mb-2" [(ngModel)]="produto.descricao"
       [ngClass]="{
        'is-invalid': descricao.invalid && (descricao.dirty || descricao.touched),
        'is-valid': descricao.invalid && (descricao.dirty || descricao.touched)
       }"
       #descricao="ngModel" required></textarea>
<div class="invalid-feedback mb-2" *ngIf="descricao.invalid && (descricao.dirty || descricao.touched)">
  <div *ngIf="descricao.errors.required">* Descrição do Produto é de preenchimento obrigatório</div>
</div>

<!--Preco-->
<label for="inputPreco" class="sr-only">Preço</label>
<input type="number" id="inputPreco" name="precoProduto" placeholder="Preço"
       class="form-control col-md-2 mb-2" [(ngModel)]="produto.preco"
       [ngClass]="{
        'is-invalid': preco.invalid && (preco.dirty || preco.touched),
        'is-valid': preco.invalid && (preco.dirty || preco.touched)
       }"
       #preco="ngModel" required />
<div class="invalid-feedback mb-2" *ngIf="preco.invalid && (preco.dirty || preco.touched)">
  <div *ngIf="preco.errors.required">* Preço do Produto é obrigatório</div>
</div>

<!--Imagem produto-->
<div class="input-group mb-2">
  <div class="custom-file col-md-4">
    <input type="file" id="inputFile" class="custom-file-input" (change)="inputFile($event.target.files)" />
    <label for="inputFile" class="custom-file-label" *ngIf="!produto.nomeArquivo">Selecione a imagem do produto</label>
    <label for="inputFile" class="custom-file-label" *ngIf="produto.nomeArquivo">{{ produto.nomeArquivo }}</label>
  </div>
</div>

<!--Botoes-->
<div class="form-inline">
  <button class="btn btn-primary mr-2" type="submit" *ngIf="!atualizaProduto" (click)="cadastrar()" [disabled]="ativarSpinner">
    <span class="spinner-border spinner-border-sm" *ngIf="ativarSpinner"></span>
    Cadastrar
  </button>
  <button class="btn btn-primary mr-2" type="submit" *ngIf="atualizaProduto" (click)="alterar()" [disabled]="ativarSpinner">
    <span class="spinner-border spinner-border-sm" *ngIf="ativarSpinner"></span>
    Salvar
  </button>
  <button class="btn btn-primary" type="submit" [routerLink]='["/pesquisa-produto"]'>Voltar</button>
</div>
